<div *ngIf="error">Mata Kuliah dengan ID {{ this.id }} tidak tersedia</div>

<form>
  <h1>Form Mata Kuliah</h1>
  <mat-form-field appearance="outline">
    <mat-label>Nama Matakuliah</mat-label>
    <input matInput placeholder="tulis nama matkul" name="nama" id="nama" [(ngModel)]="matkul.nama" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Jumlah SKS</mat-label>
    <mat-select matNativeControl name="jumlahSks" id="jumlahSks" [(ngModel)]="matkul.jumlahSks">
      <mat-option value="1">1 SKS
      </mat-option>
      <mat-option value="2">2 SKS
      </mat-option>
      <mat-option value="3">3 SKS
      </mat-option>

    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Semester</mat-label>
    <mat-select matNativeControl name="semester" id="semester" [(ngModel)]="matkul.semester">
      <mat-option value="Ganjil">Semester Ganjil
      </mat-option>
      <mat-option value="Genap">Semester Genap
      </mat-option>

    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tahun Akademik</mat-label>
    <mat-select matNativeControl name="tahunAkademik" id="tahunAkademik" [(ngModel)]="matkul.tahunAkademik">
      <mat-option value="2018/2019">2018/2019
      </mat-option>
      <mat-option value="2020/2021">2020/2021
      </mat-option>
      <mat-option value="2019/2020">2019/2020
      </mat-option>

    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Ruangan</mat-label>
    <mat-select matNativeControl name="ruang" id="ruang" [(ngModel)]="matkul.ruang">
      <mat-option value="2.B">2.B
      </mat-option>
      <mat-option value="1.A">1.A
      </mat-option>
      <mat-option value="3.C">3.C
      </mat-option>

    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Dosen Pengajar</mat-label>
    <mat-select matNativeControl name="dosen" id="dosen" [(ngModel)]="matkul.dosen">
      <mat-option value="Andreas Agustino S.Kom">Andreas Agustino S.Kom
      </mat-option>
      <mat-option value="Andy Irawan S.Kom">Andy Irawan S.Kom
      </mat-option>
      <mat-option value="Djoko Susanto S.Kom">Djoko Susanto S.Kom
      </mat-option>

    </mat-select>
  </mat-form-field>
  <div class="buttons">
    <div *ngIf="update">
      <button mat-raised-button color="warn" (click)="deleteMatkul()">
        delete
      </button>
      <button mat-raised-button color="primary" (click)="updateMatkul()">
        update
      </button>
    </div>
    <div *ngIf="!update">
      <button mat-raised-button (click)="postMatkul()" color="primary">
        Simpan
      </button>
    </div>
  </div>
</form>