.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page-header,
.page-footer {
  flex-shrink: 0;
}

.page-body {
  flex-grow: 1;
}
.header{
  background-color: black;
  color: white;
}
.button{
  background-color: yellow;
}
a{
  color: grey;
  width: 5%;
  text-align: center;
  margin-left: 10px;
}
a.active{
  color: white;
}
.white-body{
  width: 20px;
  height: 100%;
  background-color: seashell;
}
.image-header{
  width:10%;
  object-fit: contain;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

.icon {
  padding: 0 14px;
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}
.example-spacer {
  color: white;
  font-size: larger;
  font-weight: bold;
}
.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}

.example-container {
  width: auto;
  height: 100%;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background:white;
}
